.button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #777a92;
  font-size: 1.3rem;
  transition: color 0.2s;
}

.button:hover {
  color: var(--buttonHover);
}

.button--active {
  color: #3a7bfd;
}
