.CreateTask {
  height: 7rem;
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
  position: relative;
}

.CreateTask__input {
  width: 100%;
  border: none;
  background-color: var(--darkThemeElements);
  height: 80%;
  border-radius: 10px;
  padding-left: 2.5rem;
  outline: none;
  color: #fff;
}

.CreateTask__input::placeholder {
  color: #777a92;
}

.CreateTask__button {
  position: absolute;
  right: 2.5rem;
}

@media (max-width: 950px) {
  .CreateTask__input {
    font-size: 1.2rem;
  }
}

@media (max-width: 560px) {
  .CreateTask__input {
    font-size: 1rem;
    padding-left: 0.8rem;
    padding-right: 7rem;
  }
}
