.Tasks {
  width: 37%;
  margin: 0 auto;
}

.Tasks__List {
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0 0 5rem 0;
}

.Tasks__ListItem--enter {
  opacity: 0;
  transform: translateX(-100%);
}
.Tasks__ListItem--enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s;
}

.Tasks__ListItem--exit {
  opacity: 1;
  transform: translateX(0);
}
.Tasks__ListItem--exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.4s;
}

@media (max-width: 1540px) {
  .Tasks {
    width: 45%;
  }
}
@media (max-width: 1260px) {
  .Tasks {
    width: 60%;
  }
}

@media (max-width: 950px) {
  .Tasks {
    width: 80%;
  }
}
@media (max-width: 710px) {
  .Tasks {
    width: 92%;
  }
}
