@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  position: relative;
}

body {
  margin: 0;
  background-color: #161722;
  background-image: url("./assets/bg-desktop-dark.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw 30rem;
}
