.header {
  width: 37%;
  margin: 7rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__title {
  color: #fff;
  font-size: 4em;
  letter-spacing: 1.2rem;
  margin: 0;
}

.header__btn {
  height: fit-content;
  background: none;
  border: none;
  cursor: pointer;
  filter: invert(100%) sepia(5%) saturate(272%) hue-rotate(220deg)
    brightness(117%) contrast(100%);
}
